body{
background: #EDF7BF;
}

.topo{
text-align: center;
margin: 40px 0 47px 0;
color: #75B79E;
font-weight: 700;
font-style: "roboto";
font-size: 56px;
display: flex;
justify-content: center;
position: relative;
}

.tempo{
position: absolute;
right: 10vw;
}

.conteudo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20%;

}

.dupla-carta{
position: relative;
}


.envolucro1, .envolucro2 {
    width: 117px;
    height: 146px;
    padding: 23px 7px;
    margin-right: 34px;
    margin-bottom: 34px;
    border-radius: 5px;
    background: #A7E9AF;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.envolucro img{
max-width: 100%;
max-height: 100%;
}

.vira{
position: absolute;
transform: rotateY(180deg);
top:0;
right:0;

}

@media only screen and (max-width: 1000px) {

    .topo{
        display:block;
    }
    
    .parrot{
        display: block;
        margin-bottom: 20px;
    }
    
    .tempo{
        position: initial;

    }
  } 
